doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(name='author' content="")
        meta(name="description" content="")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title BOLT
        link(href='css/main.css', rel='stylesheet')
    body
        header
            div.container
                div.top
                    div.top-logo
                        img(src="img/Bolt_logo.png")
                    h1
                        span.bold GREAT COVERAGE <br>
                        span.light GREAT PRICE <br>
                            | 3 STEPS
                    h2                        You’re minutes away from multiple business insurance quotes
                    div.top-details.do
                        div.do-block
                            b Tell us about your business
                            span Get insurance quotes tailored to your needs
                        div.do-block
                            b Compare your quotes
                            span See real-time quotes from multiple provides
                        div.do-block
                            b Buy the right policy
                            span A licensed insurance agent can help you choose the policy that’s right for your business
                div.cover
                    h3  SELECT A COVERAGE BELOW TO GET STARTED!
                    div.cover-options
                        div.opt
                            img(src="img/landscape.png" alt="")
                            a(href="#") landscaper
                                span >
                        div.opt
                            img(src="img/electician.png" alt="")
                            a(href="#") electician
                                span >
                        div.opt
                            img(src="img/painter.png" alt="")
                            a(href="#") painters
                                span >
                        div.opt
                            img(src="img/plumber.png" alt="")
                            a(href="#") plumber
                                span >
                        div.opt
                            img(src="img/heating.png" alt="")
                            a(href="#") heating & a/c
                                span >
                        div.opt
                            img(src="img/general.png" alt="")
                            a(href="#") general liability
                                span >





script(src="https://code.jquery.com/jquery-2.1.1.min.js")
        <script>window.jQuery || document.write('<script src="js/jquery.min.js">\x3C/script>')</script>
        script(src='js/main.js')