//colors
$white: #ffffff;
$gray: #888888;
$blue_1: #005670;

//fonts
@font-face {
  font-family: 'Calibri';
  src: url('../fonts/calibri.eot'); /* IE9 Compat Modes */
  src: url('../fonts/calibri.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/calibri.woff') format('woff'), /* Modern Browsers */
  url('../fonts/calibri.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/calibri.svg#f7cee5eaf81ca6750bedc48055a4dffb') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Calibri Light';
  src: url('../fonts/calibriL.eot'); /* IE9 Compat Modes */
  src: url('../fonts/calibriL.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/calibriL.woff') format('woff'), /* Modern Browsers */
  url('../fonts/calibriL.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/calibriL.svg#eab7a514c729b74dd996e35cfe17e8f8') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  200;
}



//main class="container"
@mixin container($data){
  max-width: $data;
  margin-left: auto;
  margin-right: auto;
}

// media queries @media (min-width: $data)
$mobile: 767px;
$tablet: 768px;
$small: 992px;
$large: 1200px;

// media queries max-width: $data;
$tabletContainer: 752px;
$smallContainer: 970px;
$largeContainer: 1170px;